:root {
    --verde1: #1b5e20;
    --verde2: #2e7d32;
    --verde3: #66bb6a;
    --branco: #e8f5e9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background: var(--branco);
    margin: 0;
    padding: 0;
}

header {
    background: var(--verde2);
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.materia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.materia input {
    width: 70px;
}

.materia span {
    font-weight: bold;
}

input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    margin-top: 10px;
    padding: 12px;
    border: none;
    background: var(--verde2);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: var(--verde1);
}

.resultado {
    margin-top: 30px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}