:root {
    --verde1: #1b5e20;
    --verde2: #2e7d32;
    --verde3: #66bb6a;
    --background: #e8f5e9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, Arial, sans-serif;
}

body {
    background: var(--background);
    color: #333;
    height: 100vh;
}

header {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: var(--verde1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo img{
    height: 50px;
    width: 50px;
}

.menu a {
    margin-left: 25px;
    text-decoration: none;
    color: #444;
    font-weight: 500;
}

.menu a:hover {
    color: var(--verde2);
}

main {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    gap: 12px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 10px;
    height: 500px;
}

.notas{
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tempo-estudo{
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#materias{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.materia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.materia input {
    width: 70px;
}

.materia span {
    font-weight: bold;
}

input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    margin-top: 10px;
    padding: 12px;
    border: none;
    background: var(--verde2);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: var(--verde1);
}

.resultado {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 300px;
}

footer {
    background: var(--verde1);
    color: white;
    text-align: center;
    padding: 25px;
}